<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div style = "margin-left: 38%">
<form th:action="@{/login}" method="post">
    <h1 style="margin-left: 20px">Please sign in</h1>
    <p><input type="text" name="username" placeholder="Username" style="width: 278px"/></p>
    <p style="margin-top: 20px"><input type="password" name="password" placeholder="Username" style="width: 278px"/></p>

    <p style="margin-top: 20px; margin-left: 15%"><input type="submit" value="Sign In"/></p>
</form>
</div>
</body>
</html>